/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

    --primary-text-color: #181820;
    --secondary-text-color: #5c5c62;
    --icon-color: #6a737d;
    --border-color: #ff9a0045;
    --text-decoration-color: #ff9a00;
}

.container {
    margin: 0 auto;
    padding: 10px 30px;
    max-width: 900px;
}

.fh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resume {
    margin: 50px auto;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px 7px 7px #f5f5f5;
    padding: 30px 0;
    max-width: 900px;
}

.resume-block {
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 30px;
    margin-bottom: 15px;
}

/* Contact info styles */

.contact-info-header,
.contact-info-sub-header,
.contact-info-ref-location {
    text-align: center;
}

.contact-info-header {
    color: var(--primary-text-color);
    margin-bottom: 15px;
    text-decoration-color: var(--text-decoration-color);
    text-decoration-line: underline;
}

.contact-info-sub-header {
    color: var(--secondary-text-color);
    margin-bottom: 15px;
}

.contact-info-ref-location {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.contact-info-block,
.certification-info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.certification-info-block {
    padding: 0 10px 10px 0;
}

.skills-info-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.skills-land li:nth-child(2) {
    cursor: pointer;
}

.contact-info-block-center {
    justify-content: center;
}

.contact-info-item,
.skills-info-item,
.certification-info-item {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: flex;
    justify-content: start;
}

.certification-info-item {
    align-items: center;
    flex-direction: column;
}

.certification-info-item small {
    text-align: center;
}

.contact-info-item:not(:last-child) {
    margin-bottom: 20px;
}

.contact-info-item-icon-wrapper {
    margin-right: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.contact-info-item-icon path {
    fill: var(--icon-color);
}

.contact-info-item-icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.contact-info-avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid;
    border-color: var(--text-decoration-color);
}

.skills-info-certificate {
    height: 50px;
    object-fit: cover;
}

.contact-info-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

/* Intro and skills styles */

.intro {
    display: flex;
    justify-content: start;
}

.intro-icon-wrapper {
    margin-right: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.intro-icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.intro-icon path {
    fill: var(--text-decoration-color);
}

.intro-text,
.education-timeline .education-timeline-event {
    color: var(--secondary-text-color);
    text-align: justify;
}

/* Experience & education additional info styles */

.education {
    flex: 1 1 60%;
}

.education-list-container {
    padding-left: 80px;
}

.education-header {
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 20px;
}

.education-timeline {
    border-left: 3px solid #ff9a00;
    margin: 20px auto;
    position: relative;
    padding-left: 20px;
    list-style: none;
    text-align: left;
    max-width: 80%;
}

.education-timeline .education-timeline-event {
    padding-bottom: 15px;
    position: relative;
}

.education-timeline .education-timeline-event::before,
.education-timeline .education-timeline-event::after {
    position: absolute;
    display: block;
    top: 0;
}

.education-timeline .education-timeline-event::before {
    left: -130px;
    color: grey;
    content: attr(data-date);
    font-size: .7rem;
    padding-top: .3rem;
}

.education-timeline .education-timeline-event::after {
    box-shadow: 0 0 0 4px #ff9a00;
    left: -27px;
    background: #fff;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

.additional-info-skills-header {
    color: var(--secondary-text-color);
    text-align: left;
}

.skills-info-item .my-easter {
    display: none;
}

.skills-info-item:hover .my-easter {
    display: block;
    position: absolute;
    top: 30px;
    line-height: 100%;
    color: darkred;
    font-size: .8rem;
}

@media screen and (width <= 576px) {
    .resume {
        margin: 0 auto;
    }

    .main-info,
    .contact-info-container,
    .certification-info-container,
    .skills-info-container {
        flex-direction: column;
    }

    .contact-info-container,
    .certification-info-container,
    .skills-info-container {
        align-items: center;
    }

    .contact-info-block:not(:last-child) {
        margin-bottom: 20px;
    }

    .contact-info-block:nth-child(1) {
        order: 1;
    }

    .education {
        margin-right: 0;
    }

    .contact-info-item, .skills-info-item {
        justify-content: center;
    }

    .skills-info-block {
        margin-bottom: 20px;
    }
}
